<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- USB Host permission for talking to DJI RC hardware -->
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />

    <!-- Define and request DJI protocol permission for Binder IPC access to RC data -->
    <permission android:name="dji.permission.PROTOCOL" android:protectionLevel="normal" />
    <uses-permission android:name="dji.permission.PROTOCOL" />

    <!-- Request input group (gid 1004) to read /dev/input joystick device -->
    <uses-permission android:name="android.permission.DIAGNOSTIC" />

    <!-- Shizuku: shell-level access for reading /dev/input when no root available -->
    <uses-permission android:name="rikka.shizuku.permission.API_V23" />

    <application
        android:label="DJI RC to vJoy"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Auto-launch when DJI USB device is attached -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/usb_device_filter" />
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Shizuku provider: receives binder from Shizuku service at app start -->
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
